<h1>About Sam</h1>
<p>I grew up sailing in Martha's Vineyard. With my knot tying skills I found that I could create beautiful jewelry and decided to make it more than just a hobby. I also create molded pieces and am open to requests.</p>
