
<h1><strong>Welcome to Jewelry by Sam</strong></h1>
<h2>An online shop for nautical styled earrings and bracelets.</h2>

<div class=product>
  <h3><strong>Monkey's Fist Earrings</strong></h3>
  <div class=images>
    <div class= "col-md-3 col-xs-12">
      <%= image_tag("whitemonkeysfist.jpg", class: "img-responsive white")%>
    </div>
    <div class= "col-md-3 col-xs-12">
      <%= image_tag("purplemultimonkeysfist.jpg", class: "img-responsive purple")%>
    </div>
    <div class= "col-md-3 col-xs-12">
      <%= image_tag("bluemultimonkeyfist.jpg", class: "img-responsive blue")%>
    </div>
  </div>
</div>
