<h1><strong>Welcome to Jewelry by Sam</strong></h1>
<h2>An online shop for nautical styled earrings and bracelets</h2>

<div class=images>
<h3><strong>Monkey's Fist Earrings</strong></h3>
<%= image_tag("whitemonkeysfist.jpg", class: "img-responsive white")%>
<%= image_tag("purplemultimonkeysfist.jpg", class: "img-responsive purple")%>
<%= image_tag("bluemultimonkeyfist.jpg", class: "img-responsive blue")%>
</div>
