<table>
  <tbody align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
    <tr>
      <td><h1>Thank you for your interest in Deckhand!</h1></td>
    </tr>
    <tr>
      <td><p>See our featured products below</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
    </tr>
  </tbody>
</table>
