// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: "sailor-beware", "Papyrus", "Arial Narrow";
  background-image: url("app/assets/images/White Background.jpg");
}

nav {
  float: left;
  font-size: 1em;
  color: white;
  height: 100%;
  width: 10%;
  background-color: #103d6a;
  border-radius: 20%;
  margin-right: 3%;
}

h1 {
  font-size: 2em;
}

h2, h3{
  font-size: 1em;
}

h3 {
  text-decoration: underline;
}
